# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Build
dist/

# Locks (dejar solo el de pnpm)
package-lock.json
yarn.lock

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

supabase_galeria.sql
